
.content {
  max-width: 640px;
  overflow-x: hidden;
  margin: 0 auto;
}
.content_header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.content_title {
  font-size: 24px;
  color: var(--color-text-100);
}
.button_container {
  margin: auto 0;
}
.button_container button{
  padding: 0 5px;
  border: none;
  background: none;
  font-size: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card_artist{
  text-align: center;
  align-items: center;
  margin-right: -10px;
}

.Link:hover { text-decoration: none; }

.Link:active { text-decoration: none; }

.card:nth-child(1) {
 padding-left: 0;
}

.card_image_circle {
  width: 100%;
  height: 200px;
  margin: auto;
}

.card_image_circle img{
  width: 70%;
  height: 75%;
  border-radius: 50%;
  margin: 0 auto;
}
.card_image {
  width: 100%;
  height: 200px;
  padding-right: 20px;
}
.card_image img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
}

.card:hover > .Link .card_image img{
  filter: brightness(50%);
  transition: .3s;
}

.card_content {
  margin: -40px 20px 0 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}
.card_content h4{
  color: var(--color-text-100);
  font-size: 16px;
  max-width: 150px;
  font-weight: 700;
}
.card_content p{
  margin-top: -5px ;
  color: var(--color-midnight);
  font-size: 14px;
  font-weight: 400;
}

.card_content_artist {
  margin-top: -20%;
  text-align: center;
}
.card_content_artist h4{
  color: var(--color-text-100);
}

.card_content_likes{
  margin-top: 5px ;
}
.card_content_likes p{
  padding-left: -5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.card_content_likes_icon{
  color: var(--color-icon-heart);
}
.icon {
  border-radius: 5px;
  transition: .3s;
}

.icon {
  padding-right: 20px;
  bottom: 120px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  opacity: 0;
  width: 100%;
  height: 100%;
  font-size: 50px;
  color: var(--color-icon-heart);
}

.card:hover > .Link .icon,
.on_hover > .Link .icon {
    opacity: 1;
}

.card:hover > .Link p,
.on_hover > .Link p {
    color: var(--color-icon-heart);
}

.card:hover,
.card:hover > .card_image,
.card:hover > .icon,
.on_hover,
.on_hover > .card_image,
.on_hover > .icon
{
    border-radius: 100% !important;
}
