.controller {
    position: relative;
    width: 90px;
    height: 70px;
    border-radius: 100%;
    padding: 5px 12px;
    box-shadow: 2px 3px 10px #bebebe, -10px -10px 60px #ffffff;
    background-color: #fcfafa;
}

.button {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button .icon {
    font-size: 23px;
    color: var(--color-text-100);
}

