@media all and (min-width: 600px) {
  /* We tell both sidebars to share a row */
  .block { flex: 1 0 0!important;}  
}
@media all and (min-width: 800px) {
  .music_lister { order: 1; }
  .other_music    { order: 2; }
}

/*.block {  
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 80px;
}*/ 

.block {  
  margin-bottom: 80px;
}


.tab_nav_container{
  background-color: white;
  border-radius: 20px;
  box-shadow:0 15px 10px rgba(0,0, 0, 0.16),
  0 3px 6px rgba(0,0, 0, 0.16);
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 300px;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 2;
  height: 65px;
}
.tab{
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
  margin: 0 10px;
  transition: background 0.4s linear;
}
.tab i{
  font-size: 1.2em;
  margin-top: 5px;
}
.tab p{
  font-weight: lighter;
  max-width: 0;
  max-width: 100px;
  transition: max-width 0.4s linear;
}
.tab.active{
  font-weight: bold;
  background-color: rgba(91,55, 183, 0.2);
  color: rgba(91,55, 183, 1);
}

@media (min-width: 1200px) {
  .block{
    margin: 0 20px 0 20px;
  }
}

