html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

input:focus,
button:focus {
  outline: none;
}

button {
  cursor: pointer;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --color-text-1: #ffffff;
  --color-text-5: #f2f4f5;
  --color-text-10: #e6e8eb;
  --color-text-20: #d1d5d9;
  --color-text-30: #b8bfc4;
  --color-text-40: #9ea7ad;
  --color-text-50: #808991;
  --color-text-60: #636c73;
  --color-text-70: #525a61;
  --color-text-80: #40474d;
  --color-text-90: #303538;
  --color-text-100: #212529;

  --color-icon-heart: #ff375f;

  --color-midnight: #2c3e50;
  --color-asphart: #34495e;

  --shadow-34: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  --shadow-35: rgba(0, 0, 0, 0.05) 0 1px 2px 0;
  --shadow-36: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  --shadow-37: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  --shadow-38: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  --shadow-39: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  --shadow-40: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  --shadow-41: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;

  --bleu-1: #8CCAFF;
  --bleu-2: #0E6BFF;
  --bleu-3: #3D54A0;

  --dark-1: #000000;
  --dark-2: #2C3856;
  --dark-3: #2C3856;
  --dark-4: #2C3856;
  --dark-5: #2c3856;

  --light-on-dark: #8996B8;

  --purple-1: #373A75;
  
  --orange-42: #73001E;
  --orange-43: rgba(195, 73, 46, 0.8);
  --orange-44: rgba(252, 226, 132, 0.8);
  --red-45: #C60000;

  --brown-btn: #8c3343;
}

.font-nunito {
  font-family: 'Nunito', sans-serif;
}

.font-nanum {
  font-family: 'Nanum Gothic', sans-serif;
}

#keydown_event_handler:focus {
  outline: none;
}



#light {
  background-color: var(--color-text-1);
}
#dark {
  background: var(--dark-1);
}

.switch_color {
  padding: 100px 10px 0 0;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.switch_color label {
  margin: 5px 10px 10px 10px;
}
#light .switch_color label {
  color: var(--color-text-100);
}
#dark .switch_color label {
  color: var(--color-text-1);
}

/*NavBar */
#dark .header-component_topnav__JpB0H {
  background-color: var(--dark-5);
}
#dark .header-component_topnav__JpB0H *{
  color: var(--color-text-1);
}#E6E6E6
#dark .header-component_text_box____wzW{
  background-color: var(--color-text-70);
  color: var(--color-text-1);
}

/*Landing Page*/
#light .home_content_container__RTI_R span {
  color: var(--color-text-50);
}
#dark .home_content_container__RTI_R span {
  color: var(--color-text-1);
}
#light .home_image_container_block__xs8QG {
  background-color: var(--color-text-50);
}
#dark .home_image_container_block__xs8QG {
  background-color: var(--purple-1);
}
#light .home_catchphrase__PXl2q {
  color: var(--color-text-50);
}
#dark .home_catchphrase__PXl2q {
  color: var(--color-text-1);
}
#dark .music-list-item-component_item_wrapper__E5q9Y{
  background-color: var(--dark-1);
}

#dark .music-list-item-component_item_box__FCbzn{
  box-shadow: 20px 20px 30px var(--dark-2), -20px -20px 60px var(--dark-1);
}

#dark .music-list-item-component_buttons_swipe__SuSSA .music-list-item-component_fav__ke9Fj .MuiIconButton-label{
  color: red;
}
#dark .music-list-item-component_buttons_swipe__SuSSA .music-list-item-component_close__sizQb .MuiIconButton-label{
  color:var(--dark-2);
}

#dark .music-list-item-component_buttons_swipe__SuSSA .music-list-item-component_close__sizQb {
  box-shadow: none;
}
#dark .music-list-item-component_buttons_swipe__SuSSA .music-list-item-component_fav__ke9Fj{
  box-shadow: none;
}





/*Discover Page*/

#dark h1 {
  color: var(--bleu-1);
}
#dark h2, #dark h3, #dark h4, #dark span{
  color: var(--color-text-1);
}

#dark p{
  color: var(--light-on-dark);
}
