.dropdown > a::after {
  display: none !important; 
}

.main_nav{
  background-color:black;
  height: 80px;
  position: absolute;
  max-width: 1400px;
  margin-top: -120px;
  box-shadow: var(--shadow-37);
  position: fixed;
  top: 100px;
  z-index: 100;
}
.main_nav nav{
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 5px;
}

.dropdown > div{
  margin-left: -80px;
}

.navbar-nav .dropdown-menu {
  position: static;
  float: none;
  margin-left: -80px;
}

.image_container_logo{
  height: 55px;
  width: 100%;
  cursor: pointer;
  padding-top: 5px;
}


.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text_box .text {
  background: none;
  border: none;
  font-size: 14px;
  padding: 0 10px 0 0;
  width: 100%;
  letter-spacing: .2px;
  color: var(--color-text-100);
}
.text_box .button {
  border: none;
  cursor: pointer;
  background: none;
}
.text_box .button .icon {
  color: var(--color-text-70);
}

@media screen and ( max-width: 500px) {

  .text_box {
      padding: 0 14px;
      width: 150px;
      height: 35px;
      margin: 0 auto;
  }

  .text_box .text {
      font-size: 14px;
  }

}

.topnav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 14px;
  z-index: 100;
  color: white;
  background-color: #081730;
}

.topnav a {
  float: left;
  color: var(--dark-1);
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}


.active {
  background-color: var(--color-text-70);
  color: var(--color-text-1)!important;
}

.topnav .icon {
  display: none;
  font-size: 20px;
}


.topnav .auth_btns {
  float: left;
}


.log_btn { 
  display: flex;
  height:30px;
  width: 130px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  background-color: var(--color-text-80);
  color: var(--color-text-1)!important;
  border-radius: 10px;
  border: 0;
  margin: 10px;
}
.auth_btn{ 
  display: flex;
  justify-content: center;
  align-items: center;
}

.register_btn{
  color: var(--color-icon-heart)!important;
}

.none_btn{
  display:none;
}


@media screen and (min-width: 1100px) {
  .auth_btn{ 
    margin: 0 0 0 auto;
  }
  .topnav .humburger_icon{
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .topnav  {
    display: block!important;
  }
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav .search_form {
    display: none;
  }
  .topnav .auth_btn{ 
    display: none;
  }
  .topnav .register_btn{
    display: none;
  }
  .topnav .image_container_logo{
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .topnav.responsive{
    height: 100%
  }
  .topnav.responsive .humburger_icon {
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .topnav.responsive a {
    float: none;
    display: block;
  }
  .topnav.responsive .auth_btn{ 
    display: block;
  }

  .topnav.responsive .auth_btn .log_btn{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
  }
  .topnav.responsive .logo_wrapper{
    display: flex;
    height:30px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
  }

  .topnav.responsive .image_container_logo{
    display: block;
  }
  
}


