.text_box {
  display: flex;
  align-items: center;

  width: 210px;
  height: 38px;
  
  padding: 0 14px;
  border-radius: 8px;
  background: rgba(0, 0, 0, .06);
}

.text_box .text {
  background: none;
  border: none;
  font-size: 14px;
  padding: 0 10px 0 0;
  width: 100%;
  letter-spacing: .2px;
  color: var(--color-text-100);
}
.text_box .button {
  border: none;
  cursor: pointer;
  background: none;
}
.text_box .button .icon {
  color: var(--color-text-70);
}

@media screen and ( max-width: 500px) {

  .text_box {
      padding: 0 14px;
      width: 150px;
      height: 35px;
      margin: 0 auto;
  }

  .text_box .text {
      font-size: 14px;
  }

}

.topnav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 14px;
  z-index: 100;

  box-shadow: var(--shadow-37);
  background-color: var(--color-text-10);
}

.topnav a {
  float: left;
  color: var(--dark-1);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .search_form {
  padding: 8px 16px;
}

.active {
  background-color: var(--color-text-70);
  color: var(--color-text-1)!important;
}

.topnav .icon {
  display: none;
  font-size: 15px;
}

@media screen and (min-width: 600px) {
  .log_btn { 
    margin: 14px 0 14px auto;
    background-color: var(--color-text-80);
    color: var(--color-text-1)!important;
    border-radius: 10px;
  }
}
@media screen and (max-width: 600px) {
  .topnav  {
    display: block!important;
  }
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav .search_form {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive .search_form {
    float: none;
    display: block;
    position: unset;
    text-align: center;
  }
  .topnav.responsive a {
    float: none;
    display: block;
  }
}