.container {
  display: flex;  
  flex-flow: row wrap;
  padding: 2% 10%;
}

.container .content, .container .image {
  flex: 1 50%!important;
}

.title {
  display: flex;  
  flex-flow: column;
}
.title span {
  font-size: 100px;
  font-weight: 750;
  line-height: 117px;
  text-transform: uppercase;
}
.title span:nth-child(1) {
  color: var(--bleu-1);
}
.title span:nth-child(2) {
  color: var(--bleu-2);
}


.content_container {
  display: flex;  
  flex-flow: column;
}

.music_number {
  font-weight: 700!important;
  font-size: 50px!important;
  line-height: 59px!important;
  color: var(--bleu-2)!important;
}

.image_container {
  display: flex;
  flex-wrap: wrap;
  flex: 50%;

  height: 330px;
  justify-content: center;
  transform: rotate(19.07deg);
}
.image_container_block {
  position: absolute;
  background-color: var(--color-text-50);
  transform: rotate(-19.07deg);
  width: 330px;
  height: 100%;
  filter: blur(4px);
}
.image_container_img {
  height: 100%;
  width: 330px;
  padding: 20px;
  border-radius: 30px;
  position: relative;
}
.image_container_icon_container {
  flex: 100%;
  text-align: center;
  position: relative;
}
.image_container_icon {
  font-size: 45px;
  padding: 0 16px;
}
#image_container_icon_heart {
  color: var(--red-45);
}

.content_button {
  background-color: var(--bleu-1);
  color: var(--color-text-100);
  cursor: pointer;
  font-weight: 700;

  width: 220px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  padding: 14px 32px;
}

.catchphrase {
  flex: 1 100%!important;
  color: var(--color-text-50);
  text-align: center;
  font-style: italic;
  font-weight: 200;
  font-size: 30px;
  line-height: 35px;
  padding: 30px 0 0 0;
  margin: 30px 0 0 0;
}

@media all and (min-width: 600px) {
  .image { 
    flex: 1 0 0; 
    padding: 0 0 70px 0;
  }
}


@media only screen and (max-width: 960px) {
  .title span{
    font-size: 62px;
    line-height: 73px;
  }

  .content_container {
    padding: 20px 0;
  }
  .content_container span {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 3px 0;
  }
  .music_number {
    font-size: 26px!important;
    line-height: 28px!important;
  }

  .image_container {
    height: 255px;
  }
  .image_container_block, .image_container_img {
    width: 255px;
  }

  .content_button {
    margin: 70px auto 0 auto;
  }

  .catchphrase {
    font-size: 25px;
  }
}
