.timeline {
  width: 100%;
}

.progress_bar {
  width: 100%;
  -webkit-appearance: none;
  height: 4px;
  background: #d3d3d3;
  border-radius: 10px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.progress_bar:hover {
  opacity: 1;
}

.progress_bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #F3071D;
  cursor: pointer;
  border-radius: 50%;
}

.progress_bar::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #4caf50;
  cursor: pointer;
  border-radius: 50%;
}

.time_display {
  text-align: right;
  margin-top: 5px;
  font-size: 12px;
}
